.postitList-container {
    height: 85%;
    margin: 3%;
}

.postitList-header {
    height: 15%;
    /* border: black dashed; */
}

.postitList-header-title {
    float: left;
    background-color: aliceblue;
    border-radius: 20px;
    width: 30%;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.postitList-header-add-button {
    float: right;
    width: 9%;
    height: 80%;
    border-radius: 20px;
    border: transparent;
    text-align: center;
    font-size: 28px;  
}
.postitList-header-add-button:hover {
    background-color: rgb(176, 218, 255);
    cursor: pointer;
}

.postitList-content {
    height: 83%;
    margin-top: 1%;
    /* border: black dashed; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-gutter: stable;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#style-1::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 20px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(175, 175, 175);
}
.postitList-entry {
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 20px;
    width: 30%;
    height: 90%;
    display: inline-block;
    border: black dashed;
}