.todoList-container {
    margin: 3%;
    height: 95%;
}

.todoList-header {
    margin-bottom: 3%;
    overflow: hidden;
}

.todoList-header-title {
    float: left;
    width: 40%;
    border-radius: 20px;
    background-color: #E2F0CB;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.todoList-header-add {
    float: right;
    width: 10%;
    border-radius: 20px;
    border-color: transparent;
    background-color: #B5EAD7;
    text-align: center;
    font-size: 28px;
}

.todoList-header-add:hover {
    cursor: pointer;
    background-color: #9de7cc;
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.1);

}

.todoList-content {
    height: 90%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    scrollbar-gutter: stable;
}

#style-1::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(175, 175, 175);
}

.todoList-entry-opened {
    width: 95%;
    margin: 2%;
    height: 40%;
    transition: height 0.1s linear;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
}

.todoList-entry-closed {
    width: 95%;
    margin: 2%;
    height: 15%;
    transition: height 0.1s linear;
    border-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(102, 102, 102, 0.5);
}

.todoList-entry-closed:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.todoList-entry-edit-button {
    float: right;
    position: absolute;
    bottom: 5%;
    right: 8%;
    background-color: transparent;
    border-radius: 10px;
    color: rgb(124, 124, 124);
    border-color: transparent;
}
.todoList-entry-edit-button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.todoList-entry-remove-button {
    float: right;
    position: absolute;
    bottom: 5%;
    right: 2%;
    background-color: transparent;
    border-radius: 10px;
    color: rgb(252, 115, 115);
    border-color: transparent;

}

.todoList-entry-remove-button:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.expand-button {
    text-align: center;
    float: right;
    width: 10%;
    max-height: 5vh;
    margin-top: 15px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(129, 129, 129);

    /* border-color: blue;
    border-style: dashed; */

}

.expand-button:hover {
    color: black;
    cursor: pointer;
}

.complete-button {
    text-align: center;
    width: 10%;
    max-height: 5vh;
    margin-top: 15px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(0, 255, 0);

    /* border-color: blue;
    border-style: dashed; */
}

.complete-button:hover {
    cursor: pointer;
}

.incomplete-button {
    text-align: center;
    width: 10%;
    max-height: 5vh;
    margin-top: 15px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(255, 93, 93);

    /* border-color: blue;
    border-style: dashed; */
}

.incomplete-button:hover {
    cursor: pointer;
    color: red;

}

.todoList-entry-header {
    display: flex;
    height: 100%;
    position: relative;
    /* border-style: dashed;
    border-color: green; */

}

.todoList-entry-header-content {
    width: 100%;
    margin-left: 2%;

    position: relative;
    /* border-style: dashed;
    border-color: blue; */
}

.todoList-entry-content-collapsed {
    color: #4b4b4b; 
    font-family: 'Raleway',sans-serif; 
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    /* border: black dashed; */
}
.todoList-entry-content-expanded {
    color: #4b4b4b; 
    font-family: 'Raleway',sans-serif; 
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 5%;
    height: 80%;
    width: 95%;
    overflow-wrap: break-word;
    overflow-y: auto;
    /* border: black dashed; */
}
.todoList-entry-content-expanded-title {
    font-size: 30px;
    font-weight: 800;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(155, 155, 155);
    border-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    margin-top: -60px;
    margin-left: -60px;
}

/* .tooltip:hover .tooltiptext {
    visibility: visible;
}  */

.todoList-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #ccc;
    background: #fff;
    overflow: hidden;
    border-radius: 20px;
    vertical-align: middle;
    padding: 20px;
    padding-bottom: 0px;
    height: 70%;
    width: 60%;
}

.todoList-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.todoList-modal-header {
    border-radius: 20px;
    height: 8%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #C7CEEA;

    color: #4b4b4b; 
    font-family: 'Raleway',sans-serif; 
    font-size: 20px;
    font-weight: 700;
}

.todoList-modal-content {
    height: 70%;
    background-color: #C7CEEA;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.todoList-item-form {
    height: 100%;
    width: 100%;
    /* border: #000 dashed; */
}
.todoList-item-form-title {
    height: 20%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 2%;

    /* border: red dashed; */
}
.todoList-item-form-title-input {
    height: 50%;
    width: 95%;
    font-size: medium;
    border-radius: 10px;
    padding-left: 10px;
}

.todoList-item-form-description {
    height: 50%;
    margin-left: 3%;
    margin-right: 3%;

    /* border: black dashed; */
}

.todoList-item-form-description-input {
    height: 70%;
    width: 95%;
    font-size: large;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}


.todoList-item-form-bundle {
    height: 20%;
    margin-left: 3%;
    margin-right: 3%;
    /* border: darkblue dashed; */
    display: flex;
}
.todoList-item-form-date {
    width: 40%;
    /* border: black dashed; */
}

.todoList-item-form-date-input {
    font-size: x-large;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
}

.todoList-item-form-color {
    width: 60%;
    padding-left: 5%;
    /* border: black dashed; */
}

textarea {
    resize: none;
}

.todoList-item-form-label {
    color: #4b4b4b; 
    font-family: 'Raleway',sans-serif; 
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin-bottom: 1%;
}

.color-option-circle {
    border-radius: 50px;
    border-width: 0px;
    color: rgb(175, 175, 175);
    margin: 1%;
}

.color-option-circle-selected {
    border-radius: 25px;
    color: rgb(31, 31, 31);
    margin: 1%;
}

.color-option-circle:hover {
    color: #5a5a5a;
    cursor: pointer;
}

.todoList-modal-footer {
    height: 8%;
    margin-top: 2%;
    /* border: black dashed; */
}


.todoList-modal-create-button {
    margin-left: 65%;
    margin-right: 0;
    width: 15%;
    height: 100%;
    border-radius: 20px;
    border-color: transparent;
    background-color: #9de7cc;

    color: #4b4b4b; 
    font-family: 'Raleway',sans-serif; 
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.todoList-modal-create-button:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
}

.todoList-modal-cancel-button {
    float: right;
    width: 15%;
    height: 100%;
    border-radius: 20px;
    border-color: transparent;
    background-color: red;

    color: #000; 
    font-family: 'Raleway',sans-serif; 
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.todoList-modal-cancel-button:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
}


.no-item-message {
    margin-left: 5%;
    margin-top: 2%;
}

.disabled {
    opacity: 0.5;
}
.disabled:hover {
    cursor: no-drop;
}

#newline {
    white-space: pre-wrap;
}


/* Color Themes for posts */
.light-salmon-pink {
    background-color: #FF9AA2;
}

.melon {
    background-color: #FFB7B2;
}

.very-pale-orange {
    background-color: #FFDAC1;
}

.champagne {
    background-color: #F3EACE;
}

.tea-green {
    background-color: #D7ECC9;
}

.columbia-blue {
    background-color: #C2DEDF;
}