
.app-container {
  height: 100% !important;
  overflow-y: auto;
}

.header-container {
  height: 10vh !important;
  background-color: rgb(215, 233, 250);
}

.content-container {
  height: 90vh !important; 

}

.box {
  background-color: aliceblue;
  margin: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
